In [6]:
from pandas_profiling import ProfileReport

In [18]:
import pandas as pd
import numpy as np

In [24]:
df=pd.read_csv('creditcard.csv')

In [25]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V26,V27,V28,Amount,Class,M or F
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,-0.189115,0.133558,-0.021053,149.62,1,M
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,0.125895,-0.008983,0.014724,2.69,1,M
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,-0.139097,-0.055353,-0.059752,378.66,1,M
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,-0.221929,0.062723,0.061458,123.50,1,M
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.502292,0.219422,0.215153,69.99,1,F

In [26]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V26,V27,V28,Amount,Class,M or F
318,231,-0.961507,0.743351,1.173582,-0.222593,0.740528,1.739959,0.411291,0.497315,0.207499,26.98,0,F
319,231,0.283100,0.819284,1.054309,0.348488,-0.156817,-0.509169,0.179193,0.051791,0.114121,1.98,0,F
320,234,-0.602483,0.479089,0.549750,-1.069814,-0.501687,0.214778,-0.117581,-0.073710,0.055204,42.81,0,F
321,235,-0.663511,-0.044443,1.029253,-2.498072,-1.350085,-0.798774,-0.423936,0.251989,0.133957,25.00,0,M
322,236,-1.169087,1.096292,0.669688,1.052534,0.422465,0.703450,-0.198104,0.091107,0.075884,0.99,0,M

In [27]:
prof = ProfileReport(df)

In [28]:
prof.to_file(output_file='output.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=27.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…